In [15]:
# initial imports
import pandas as pd
import requests 
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine
from pathlib import Path

In [2]:
# cfpb:
apor_fixed_url = 'https://s3.amazonaws.com/cfpb-hmda-public/prod/apor/YieldTableFixed.txt'


apor_adj_url = 'https://s3.amazonaws.com/cfpb-hmda-public/prod/apor/YieldTableAdjustable.txt'

In [3]:
apor_fixed_df = pd.read_table(apor_fixed_url, sep='|', index_col='Term of Loan in Years')
apor_fixed_df.head()

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
Term of Loan in Years,,,,,,,,,,,,,,,,,,,,,
1/2/2017,3.52,3.38,3.47,3.47,3.50,3.50,3.75,3.75,3.90,3.90,...,4.36,4.36,4.36,4.36,4.36,4.36,4.36,4.36,4.36,4.36
1/9/2017,3.52,3.39,3.41,3.41,3.49,3.49,3.77,3.77,3.93,3.93,...,4.24,4.24,4.24,4.24,4.24,4.24,4.24,4.24,4.24,4.24
1/16/2017,3.53,3.40,3.46,3.46,3.43,3.43,3.67,3.67,3.83,3.83,...,4.16,4.16,4.16,4.16,4.16,4.16,4.16,4.16,4.16,4.16
1/23/2017,3.48,3.37,3.36,3.36,3.37,3.37,3.63,3.63,3.78,3.78,...,4.13,4.13,4.13,4.13,4.13,4.13,4.13,4.13,4.13,4.13
1/30/2017,3.32,3.27,3.35,3.35,3.36,3.36,3.64,3.64,3.81,3.81,...,4.22,4.22,4.22,4.22,4.22,4.22,4.22,4.22,4.22,4.22

In [4]:
apor_adj_df = pd.read_csv(apor_adj_url, sep='|', index_col='Years to First Adjustment')
apor_adj_df.head()

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
Years to First Adjustment,,,,,,,,,,,,,,,,,,,,,
1/2/2017,3.60,3.56,3.57,3.57,3.56,3.56,3.66,3.66,3.77,3.77,...,3.77,3.77,3.77,3.77,3.77,3.77,3.77,3.77,3.77,3.77
1/9/2017,3.59,3.56,3.55,3.55,3.55,3.55,3.67,3.67,3.79,3.79,...,3.79,3.79,3.79,3.79,3.79,3.79,3.79,3.79,3.79,3.79
1/16/2017,3.52,3.50,3.50,3.50,3.48,3.48,3.58,3.58,3.70,3.70,...,3.70,3.70,3.70,3.70,3.70,3.70,3.70,3.70,3.70,3.70
1/23/2017,3.52,3.50,3.48,3.48,3.46,3.46,3.56,3.56,3.67,3.67,...,3.67,3.67,3.67,3.67,3.67,3.67,3.67,3.67,3.67,3.67
1/30/2017,3.49,3.48,3.47,3.47,3.46,3.46,3.57,3.57,3.69,3.69,...,3.69,3.69,3.69,3.69,3.69,3.69,3.69,3.69,3.69,3.69

In [8]:
apor_fixed_df = apor_fixed_df.drop(['1','2','3','4','5','6','7','8','9','10','11','12','13','14','16','17','18','19','21','22','23','24','25','26','27','28','29','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50'], axis=1)
apor_fixed_df

                         15    20    30
Term of Loan in Years
1/2/2017               3.62  3.62  4.36
1/9/2017               3.51  3.51  4.24
1/16/2017              3.44  3.44  4.16
1/23/2017              3.41  3.41  4.13
1/30/2017              3.46  3.46  4.22
...                     ...   ...   ...
5/25/2020              2.80  2.80  3.30
6/1/2020               2.72  2.72  3.21
6/8/2020               2.72  2.72  3.24
6/15/2020              2.73  2.73  3.28
6/22/2020              2.69  2.69  3.19

[182 rows x 3 columns]

In [9]:
apor_adj_df = apor_adj_df.drop(['1','2','3','4','5','6','7','8','9','10','11','12','13','14','16','17','18','19','21','22','23','24','25','26','27','28','29','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50'], axis=1)
apor_adj_df

                             15    20    30
Years to First Adjustment
1/2/2017                   3.77  3.77  3.77
1/9/2017                   3.79  3.79  3.79
1/16/2017                  3.70  3.70  3.70
1/23/2017                  3.67  3.67  3.67
1/30/2017                  3.69  3.69  3.69
...                         ...   ...   ...
5/25/2020                  3.31  3.31  3.31
6/1/2020                   3.29  3.29  3.29
6/8/2020                   3.28  3.28  3.28
6/15/2020                  3.33  3.33  3.33
6/22/2020                  3.30  3.30  3.30

[182 rows x 3 columns]

In [17]:
csvpath_fix = Path('..//Resources/YieldTableFixed(15-16).csv')
apor_fixed_df_15_16 = pd.read_csv(csvpath_fix, index_col='Term of Loan in Years')
apor_fixed_df_15_16.head()

FileNotFoundError: [Errno 2] File ..\Resources\YieldTableFixed(15-16).csv does not exist: '..\\Resources\\YieldTableFixed(15-16).csv'